[submodule "googletest"]
	path = googletest
	url = https://github.com/abseil/googletest
[submodule "commonItems"]
	path = commonItems
	url = https://github.com/ParadoxGameConverters/commonItems.git
[submodule "Fronter.NET"]
	path = Fronter.NET
	url = https://github.com/ParadoxGameConverters/Fronter.NET
