.vs
packages
Release/
ReleaseIntermediate/
Release-Linux/
Debug/
DebugIntermediate/
Analysis
AnalysisIntermediate
testResults
*testResults*
*.opensdf
*.opendb
*.sdf
*.VC.db
*.cppcheck
EU4ToV2/build